.tabs-md .tab-button {
  color: white !important;
 }

 //selected color
 .tabs-md .tab-button[aria-selected=true] {
   color:#ffe !important;
 }

.tab-button {
    color: white !important;
    background-color: #000000;
}